@font-face {
    font-family: 'Raleway';
    src:url(Raleway-Regular.ttf) format('truetype'),
        url(Raleway-Regular.woff2) format('woff2'),
        url(Raleway-Regular.woff) format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src:url(Raleway-Medium.ttf) format('truetype'), 
        url(Raleway-Medium.woff2) format('woff2'),
        url(Raleway-Medium.woff) format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src:url(Raleway-Bold.ttf) format('truetype'),
        url(Raleway-Bold.woff2) format('woff2'),
        url(Raleway-Bold.woff) format('woff');
    font-weight: 700;
    font-style: bold;
    font-display: swap;
}
