.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  margin: 95px 50px 98px;
}

.header__menu {
  display: flex;
  flex-direction: row;
  gap: 33px;
}

.header__link {
  display: list-item;
  list-style-type: circle;
  text-decoration: underline 1px solid black;
  text-underline-offset: 4px;
}

.header__link_active {
  list-style-type: none;
  text-decoration: none;
}

.header__logo {
  width: 135px;
  height: 101px;
}

.address {
  width: 240px;
  display: inline-block;
  justify-self: end;
  align-items: flex-start;
}

.address a {
  text-decoration: underline 1px solid black;
  text-underline-offset: 4px;
}

.cover {
  max-height: 757px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  padding: 165px 50px 50px 50px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color:#000000;
}

.cover__title {
  position: relative;
}

.aligned-text {
  display: block;
  font-family: 'Raleway', 'Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-bottom: 17px;
}

.off-lettspacing {
  letter-spacing: 0;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
  padding-left: 32px;
  padding-top: 3px;
}

.aligned-text_right {
  text-align: right;
  padding-top: 2px;
}

.description {
  display: flex;
  flex-direction: row;
  margin-top:89px;
  justify-content: space-between;
  align-items: center;
  font-family: 'Raleway', 'Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  white-space: nowrap;
}

.cover__description-text {
  word-spacing: 18.5px;
  color: #FFFFFF;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  z-index: 1;
}

.bet-button {
  background: transparent;/* прозрачный фон */
  width: 256px;
  height: 51px;
  white-space: nowrap;
  border: 1px solid currentColor;
  color: white;
  padding: 12px 32px 11px 31px;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  z-index: 1;
}

.lots {
  margin: 180px 24px 0px;
}

.lots__heading {
  font-family: 'Raleway', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
  padding-left: 41px;
  padding-top: 5px;
  margin-bottom: 29px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  list-style-type: none;
  gap: 25px;
}

.card {
  max-width: 334px;
  color: #FFFFFF;
  flex: 0 0 calc(33.333% - 14px);
}
.card_type {
  min-height: 596px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 47px 40px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  height: 100%;
  font-family: 'Raleway', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline 1px solid #FFF;
  text-underline-offset: 4px;
  z-index: 1;
}

.card__text {
  font-family: 'Raleway', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  z-index: 1;
}

.lots__look-more-link {
  display: flex;
  margin: 32px 0 0 40px;
  font-size: 20px;
  line-height: 100%;
  text-decoration: underline 1px solid black;
  text-underline-offset: 5px;
}

.about {
  margin: 155px 0px 180px 25px;
  display: grid;
  grid-template-columns: 334px 1fr;
  grid-template-rows: 1fr;
}

.about__logo {
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  grid-column: 1;
  grid-row: 1;
}

.about__logo-image {
  width: 145px;
}

.about__title {
  place-self: center start;
  font-family: 'Raleway', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
  padding: 11px 0px 0px 25px;
  grid-column: 2;
  grid-row: 1;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap:23px;
  font-family: 'Raleway', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  padding: 9px 27px 0px 24px;
  grid-column: 2;
  grid-row: 2;
}

.footer {
  display: grid;
  grid-template-columns: 334px 1fr 1fr;
  font-family: 'Raleway', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
  margin-bottom: 80.8px;
}

.footer__address {
  justify-self: center;
  padding-left: 3px;
  padding-top: 2px;
}

.footer__menu {
  justify-self: center;
  text-align: center;
}

.footer__menu-list {
  list-style-type: none;
  line-height: 115%;
  padding-left: 51px;
  padding-top: 4px;
}


.footer__menu-link {
  text-decoration: underline 1px solid black;
  text-underline-offset: 4px;
}


.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 48px;
  padding-left: 44px;
  padding-top: 2px;
}

.footer__social-icon {
  max-width: 48px;
}